 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lemon&display=swap');

 /*Asterisk wildcard selector to override default styles added by browser*/
 *,
 *::before,
 *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 #main-container {
    /* background-color: antiquewhite;*/
    background-color: white;
    display: flex;
    flex-direction: row;
 }

 /* Apply to hide screen */
 .hide {
    display: none;
 }

 .cursor-point {
    cursor: pointer;
 }

 /* Main container */
 main {
    min-width: 300px;
    max-width: 900px;
    font-family:'Inter', sans-serif;;
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
 }

 /* Header */
 #logo {
    background-color: #a4c2a8;
    font-family: 'Lemon', serif;
    text-transform: capitalize;
    color: blue;
    width: 100%;
    text-align: center;
    position: fixed;
    max-width: 900px;
    flex: 1;
    z-index: 99;
    padding: .5rem 1rem;
    cursor: default;
 }

 /* Set logo image width and height */
 #logo img {
    width: 50px;
    height: 50px;
    padding: 0 .25rem;
 }

 /*----- << Items list screen >>----- */
 #list-names-section,
 #items-list-section,
 #add-new-list-section {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
 }

 /* Shopping list names section heading - inludes heading text, search and add buttons */
 .list-heading,
 .items-list-heading,
 .add-new-list-heading,
 .search-heading-div {
    background-color: #0471a6;
    color: white;
    width: 100%;
    position: fixed;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    flex: 1;
    z-index: 70;
 }

 .list-heading-text {
    /* 'Lists' heading expand and take up available space within the flex container */
    flex: 1;
    padding: 10px 20px;
 }

 .list-heading-div {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
 }

 #list-add-btn {
    padding: 1px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 25px;
 }

 #list-add-btn:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
 }

 #list-add-btn .tooltiptext {
    width: 60px;
    margin-left: -80px;
    font-size: 10px;
 }

 #list-add-btn:hover .tooltiptext {
    visibility: visible;
 }

 #list-names-container-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
 }

 #list-names-container {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
 }

 #list-names-container:empty::before {
   content: "Click '+' to create a list";  
   text-align: center;
   margin-top: 1.5rem;   
 }

 
 #search-btn::-webkit-search-cancel-button {
   cursor: pointer;
 }

 .list-name {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 0.15rem solid lightgrey;
    font-size: 20px;
    list-style: none;
    position: relative;
    display: flex;
    color: black;
 }

 #edit-list-btn {
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 50px;
    font-size: 15px;
 }

 #edit-list-btn:hover {   
    transform: scale(1.5);
    transition: transform 0.3s ease;
 }

 #delete-list-btn {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 10px;
    font-size: 15px;
 }

 #delete-list-btn:hover {   
   transform: scale(1.5);
   transition: transform 0.3s ease;
 }

 /*----- << Items list screen >>----- */
 .items-list-heading {
    padding: 10px;
 }

 .back-arrow {
    padding-left: 10px;
    flex-basis: 50px;
 }

 .back-arrow:hover {
   transform: scale(1.2);
   transition: transform 0.3s ease;
 }

 .back-arrow .tooltiptext {
   width: 40px;
   margin-left: 10px;
   font-size: 10px;
}

.back-arrow:hover .tooltiptext {
   visibility: visible;
}

 #items-list-heading-text {
    flex: 1;
 }

 .delete-all-btn {
    padding-right: 10px;
    position: relative;
    display: inline-block;
 }

 .delete-all-btn:hover {
   transform: scale(1.2);
   transition: transform 0.3s ease;
 }

 /* Inpaired from w3school.com: https://www.w3schools.com/howto/howto_css_tooltip.asp */
 /* Tooltip text */
 .tooltiptext {
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    text-transform: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    margin-left: -140px;
 }

 /* Show the tooltip text when you mouse over the tooltip container */
 .delete-all-btn:hover .tooltiptext {
    visibility: visible;
 }

 .add-item-tab {
    background-color: white;
    width: 100%;
    margin-top: 47px;
    display: flex;
    justify-content: left;
    align-items: center;
 }

 #add-item-tab-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid darkgray;
    padding: 5px 10px;
 }

 .add-item-text {
    padding-left: 10px;
 }

 .add-item-name-container {
    margin: 10px;
    border-bottom: 2px solid darkgray;
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex: 1;
 }

 .item-text-field {
    border: none;
    outline: none;
    height: 2rem;
    flex: 1;
 }

 .enter-item-btn {
    background-color: white;
    border: 0.15rem solid #0471a6;
    border-radius: 1.5rem;
    width: 90px;
    font-size: large;
    margin-right: 10px;
 }

 .enter-item-btn:hover {
   transform: scale(1.1);
   transition: transform 0.3s ease;
 }

 .items-list-container-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
 }

 #items-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
 }

 .checkbox {
    margin-right: 20px;
    border: 0.15rem solid #0471a6;
 }

 .items-list {
    margin: 10px;
    padding-bottom: 10px;
    position: relative;
    border: none;
    display: flex;
    flex: 1;
 }

 #delete-item-btn {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 10px;
    font-size: 15px;
 }

 /*----- << Add new list screen >>----- */
 .add-new-list-heading {
    padding: 8px;
 }

 .new-list-xmark {
    font-size: 20px;
    padding-left: 15px;
 }

 .new-list-xmark:hover {
   transform: scale(1.2);
   transition: transform 0.3s ease;
 } 

 #new-list-save {
    padding-right: 30px;
 }

 #new-list-save:hover {
   transform: scale(1.2);
   transition: transform 0.3s ease;
 }

 .list-name-field-div {
    margin: 2rem 1rem;
    border-bottom: .15rem solid #0471a6;
    padding-top: 10px;
 }

 h4 {
    font-size: 20px;
    margin: 0.5rem;
    color: #0471a6;
 }

 #list-name-text-field {
    border: none;
    outline: none;
    width: 100%;
    height: 2rem
 }

 .message-container {
    background-color: white;
    font-size: 20px;
    position: absolute;
    margin: auto;
    border: .15rem solid grey;
    margin-left: 10px;
    padding: 10px;
    z-index: 9999;
 }

 .delete-message-container {
    z-index: 1000;
 }

 /*----- << Footer >>----- */
 footer {
    position: fixed;
    background-color: #a4c2a8;
    width: 100%;
    max-width: 900px;
    top: 94%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 70;
 }

 footer p {
    margin-bottom: 0.5rem;
    margin-left: 2%;
    font-size: 100%;
    width: 100%;
    cursor: default;
 }

 footer a {   
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1.5rem;   
    text-decoration: none;
 }

 footer a:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
 }

 /* Media query for laptops and larger devices */
 @media screen and (min-width: 800px) {

    /* Align main container to center of the web page*/
    #main-container {
       background-image: url("../images/shopping_trolleys_images.jpg");
       background-color: lavender;
       background-attachment: fixed;
       display: flex;
       justify-content: center;
       height: fit-content;
    }

    main {
       background-color: white;
       margin-top: 1.7rem;
       min-height: 500px;
    }

    #logo {
       font-size: 2rem;
       letter-spacing: 1.5px;
    }

    #logo img {
       width: 70px;
       height: auto;
       padding: 0 .25rem;
    }

    footer {
       top: 95%;
       font-size: 120%;
    }
 }